[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
jupyter = "*"
sklearn = "*"
spacy = "*"
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
requests = "*"
gunicorn = "*"
joblib = "*"
gensim = "*"
matplotlib = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
