[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
notebook = "*"
tensorflow = "*"
sklearn = "*"
spacy = "*"
flask = "*"
flask-sqlalchemy = "*"
requests = "*"
gunicorn = "*"
joblib = "*"
gensim = "*"
pyldavis = "*"
matplotlib = "*"
numpy = "==1.19.2"

[dev-packages]

[requires]
python_version = "3.8"
