<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spotify Recommendation</title>
        <link rel="stylesheet" href="https://unpkg.com/picnic" />
    </head>
    <body>
        <nav>
            <div class="menu">
                <a href="/" class="button warning">Home</a>
                <a href="/reset" class="button danger">Reset</a>
            </div>
        </nav>
        <div style="padding: 3em 1em;">
            <h1>Spotify Song Recommendation Engine</h1>
            <article class="flex one">
                {% block content %}

                <form action="/suggest" method="POST">
                    <label for="songs">Choose a Song:</label>
                    <select name="songs" id="songs">
                        <option value="44964">Stairway to Heaven (Led Zeppelin)</option>
                        <option value="80723">Imagine (John Lennon)</option>
                        <option value="40502">Respect (Aretha Franklin)</option>
                        <option value="245052">Good Vibrations (The Beach Boys)</option>
                        <option value="38502">Like a Rolling Stone (Bob Dylan)</option>
                        <option value="38817">My Generation (The Who)</option>
                        <option value="441561">Born to Run (Bruce Springsteen)</option>
                    </select>
                    <br><br>
                    <input type="submit" value="Recommend similar songs">
                </form>

                {% endblock %}
            </article>
    
            <article>
                <h3>You selected - {{ song }}</h3>
                <hr>
                <h3>Songs closest to your selection are -</h3>
                {% for recommend in recommendations %}
                <p>{{ recommend }}</p>
                {% endfor %}
            </article>
        </div>
    </body>
</html>