<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spotify Recommendation</title>
        <link rel="stylesheet" href="https://unpkg.com/picnic" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">        
    </head>
    <body>
        <nav>
            <div class="menu">
                <a href="/" class="button">Home</a>
                <a href="/mvp" class="button warning">MVP</a>
            </div>
        </nav>
        <div style="padding: 3em 1em;">
            <h1>Spotify Song Recommendation Engine</h1>
            <article class="flex one">
                {% block content %}

                <form action="/suggest" method="POST">
                    <label for="songs">Choose a Song:</label>
                    <select name="songs" id="songs">
                        <option value="3971">Stairway to Heaven (Led Zeppelin)</option>
                        <option value="3544">Imagine (John Lennon)</option>
                        <option value="809">Like a Rolling Stone (Bob Dylan)</option>
                        <option value="8292">My Generation (The Who)</option>
                        <option value="1151">Born to Run (Bruce Springsteen)</option>
                        <option value="5049">Smells like Teen Spirit (Nirvana)</option>
                        <option value="5494">Wish you were here (Pink Floyd)</option>
                        <option value="11489">Like a Virgin (Madonna)</option>
                    </select>
                    <br><br>
                    <input type="submit" value="Recommend similar songs">
                </form>

                {% endblock %}
            </article>

            <hr>
            {% if song %} 
                <article>
                    <h1>You selected "{{ song }}" by "{{ artist }}" </h1>
                    <h3>Songs closest to your selection are -</h3>
                    <table>
                        <tr>
                            <th>SONG</th>
                            <th>ARTIST</th>
                        </tr>
                    {% for i in recommendations %}
                            {% set item_1 = recommendations[loop.index-1] %}
                            {% set item_2 = artists[loop.index-1] %}
                            <tr>
                                <td> {{ item_1 }} </td>
                                <td>  {{ item_2 }} </td>
                            </tr>
                        {% endfor %}
                    </table>                
                </article>            
            {% endif %}

        </div>
    </body>
</html>